

html {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

#navigation{
    height: 120px;
    background-color: lightgrey;
    display: flex;
    align-items: center;   /* góra dół */
    justify-content: center; /* lewo-prawo */
    position: fixed;
    width: 100vw;
    box-sizing: border-box;
    top: 0;
    padding: 60px 10px;
    transition: .5s all;
    /* DOM document object model */
}

#navigation ul{
    list-style: none;
    display: flex;
    margin: 0px;
    /*default => display: block; / inline; */
    /* display: grid*/
}

#navigation ul li a{
    background-color: lightblue;
    border-radius: 4px;
    color: darkslategray;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    transition: .5s all;
    
}

#navigation ul li a:hover { /*jak bedziemy najeżdzac to bedzie zmieniac kolor */
    color: lightblue;
    background-color: darkslategray;
}

/* <p class="paragraph"></p> => .paragraph */
/* <p id="paragraph"></p> => #paragraph */

/* #contactForm {
    color: red !important;
}

.contactForm {
color: green
} */

main {
    display: flex;
    justify-content: space-evenly;
    font: size 20px;
}

main:first-of-type{
    margin-top: 120px;
}

article {
width: 100rem;
border: 1px solid lightcoral;
padding: 2rem 1rem;
}

#contactForm {
    display: flex;
    flex-direction: column;
}

#contactForm label{
    width: 350px;
    margin: 5px 0px;
}

.tooltip {
    position: relative;
}

.tooltip::before{
    content: 'Podaj swoje imię';
    position: absolute;
    top: -18px;
    background-color: darkviolet;
    color: darkred;
    width: 200px;
    text-align: center;
    visibility: hidden;
}

.tooltip:hover::before{
    visibility: visible;
}

#radioButtonContainer {
display: flex;
}

[for=r1], [for=r2]{
    width: 80px !important;
}

input[type=submit] {
    width: 80px;
    margin-top: 10px;
    margin-block-end: 10px;
}

#footer {
    background-color: lightblue;
    color: rgb(13,14,87);
    height: 10vh;
    display: flex;
    justify-content: center; /* lewo-prawo */
    align-items: center;   /* góra dół */
}

/* 100% szerokości ekrany ==100vw */
/* 100% wysokości ekranu ==100vh */

/* min width => mobile-first  */
/* max width => desctop-first  */

@media screen and (min-width: 360px) and (max-width: 600px){
    img{
        width: 300px;
    }
    article {
        font-size: 12px;
        font-weight: 300;

    }
}       